.hide {
  visibility: gone;
}

#startButton {
  margin-top: 250px;
}

#displayLies {
  background-color: #2ecc71;
}

#app {
  background-color: #acacac;
}

#options_container input {
  background: #dddddd;
  border-radius: 25px;
}

#options_container input:nth-child(1) {
  background-color: #27ae60;
}

#options_container input:nth-child(2) {
  background-color: #2b86c2;
}

#options_container input:nth-child(3) {
  background-color: #e74c3c;
}

#options_container input:nth-child(4) {
  background-color: #d35400;
}

#options_container input:nth-child(5) {
  background-color: #f1c40f;
}

h1 {
  font-size: 75px;
}

input[type="button"] {
  font-size: 20px;
}

input[type="button"]:hover {
  opacity: 0.6;
}
