<!doctype html>
<html ng-app="myApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="js/game.js"></script>
        <link rel='stylesheet' href='https://www.firebase.com/resources/tutorial/css/example.css'/>
        <link rel='stylesheet' href='css/style.css'/>
    </head>

    <body ng-controller="MyController">
        <div id="app" class='example-chat l-demo-container hide'>
            <header>Welcome {{ username }} : Game {{ game.$id }}</header>

            <div class='example-chat-toolbar' ng-model='question'>
                {{ question }}
            </div>

            <ul id='example-messages' class='example-chat-messages'>
                <li ng-repeat='user in game.users'>
                <strong class='example-chat-username'>{{ user }}</strong>
                    {{ lie }}
                </li>
                
                <hr/>

                <div id="options_container" class="hide">
                    <div ng-repeat="(_, choice) in choices">
                        <input type="button" value="{{ choice }} " class="button" ng-click="vote(this)"/>
                    </div>
                </div>
            </ul>

            <footer>
                <input id="lie" ng-model='inputLie' ng-keydown="enterLie($event)" type='text' id='messageInput'  placeholder='Type a lie...'>
            </footer>
        </div>

        <input type="button" value="Start Game" ng-click="startGame()"/>

    <script>
        var id = "-JhWr1YifZ_GoNuUE1ig";
        var username;

        if (document.URL.indexOf(".html") >= 0) {
            username = "LocalUser";
        } else {
            var username = $.cookie('sucker');
            while (!username) {
                username = prompt("Please input a username.");
            }
            $.cookie('sucker', username, { expires: 7, path: '/' });
        }
        var game;
        var myApp = angular.module("myApp", ["firebase"]);
        myApp.controller('MyController', ['$scope', '$firebase', 
            function($scope, $firebase) {
                $scope.username = username;
                var gameReference = new Firebase("https://sucker.firebaseio.com/game/" + id);
                $scope.game = $firebase(gameReference).$asObject();
                $scope.game.$loaded().then(function() {
                    game = new Game(username, $scope.game, 3);
                    $.getJSON("https://sucker.firebaseio.com/questions.json", 
                        function(data, status, xhr) {
                            // TODO: randomize, but make sure it only gets set *once*
                            var questions = [];
                            for (var i = 0; i < 4; ++i) {
                                questions[i] = data[i];
                            }

                            game.setQuestions(questions);
                            $scope.question = game.getQuestion();
                            game.setStateCallbacks({
                                "PREGAME" : undefined,
                                "INPUT_LIE" : $scope.showEnterLie,
                                "VOTE" : $scope.showChoices,
                                "DISPLAY_VOTES" : undefined,
                                "GAMEOVER" : undefined
                            });
                        });
                });

                $scope.showEnterLie = function() {
                    console.log("$scope.showEnterLie");

                    $("#options_container").addClass("hide");
                    $("#lie").removeClass("hide");
                    $scope.question = game.getQuestion();
                    $scope.choices = game.getChoices();
                    $scope.inputLie = "";
                }

                $scope.enterLie = function(e) {
                    if (e.keyCode === 13 && $scope.inputLie) {

                        $scope.choices = game.getChoices();
                        $scope.choices[username] = $scope.inputLie;
                        $scope.game.$save();
                        if (!force) {
                            $scope.showChoices();
                        }
                    }
                }

                $scope.showChoices = function() {
                    console.log("$scope.showChoices");
                    
                    $scope.choices = game.getChoices();
                    $("#options_container").removeClass("hide");
                    $("#lie").addClass("hide");
                }

                $scope.startGame = function() {
                    console.log("Starting game..");
                    $("#app").removeClass("hide");
                    game.start();
                }

                $scope.vote = function(e) {
                    alert("Not implemented yet.);")
                    console.log(e);
                    // for (var a in $scope.choices) {
                    //     if ($scope.choices[a] == e.choice) {
                    //         console.log("true");
                    //         console.log(!$scope.choices[a].hasOwnProperty("voters"));
                    //         if (!$scope.choices[a].hasOwnProperty("voters")) {
                    //             $scope.choices[a].voters = username;
                    //         } else {
                    //             $scope.choices[a].voters.push(username);
                    //         }
                    //         $scope.choices.$save();
                    //     }
                    // }
                }
      }]);
    </script>
    </body>
</html>
